body {
    width: 300px;
    height: auto;
    /*background-image: url('images/background.png');
    background-size:auto;
    background-repeat:repeat;*/
    background-color: #D4D4D4;
    overflow: hidden;
    font-family: monospace;
}

#container {
    padding: 5px;
    margin-left: 5px;
}

.input-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-right: 5px;
}

#textInput {
    flex: 1;
    padding: 5px 8px;
    border: 1px solid #D4D4D4;
    border-radius: 5px;
}

#addButton,
#clearButton {
    margin-left: 5px;
    transition-duration: 0.6s;
    background-color: gray;
    color: white;
    border: 1px solid gray;
    padding: 5px;
    border-radius: 5px;
}

#addButton:hover,
#clearButton:hover {
    /*box-shadow: 0 5px 5px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);*/
    background-color: #D4D4D4; /* Green */
    color: black;
    border: 1px solid gray;
}

#list {
    overflow-y: auto;
    max-height: 250px;
}

.item {
    cursor: pointer;
    padding: 5px;
    margin-bottom: 5px;
    background-color: #f0f0f0;
    border-radius: 5px;
    display: flex;
    align-items: center;
    overflow-x: hidden; /* Enable horizontal scrolling for individual items */
    white-space: nowrap;
    margin-right: 5px;
}

.item-text {
    flex: 1;
    font-size: 12px;
}

.item:hover {
    color: white;
    background-color: #ADADAD;
}

.item.clicked {
    background-color: #848484; /* Background color when clicked */
    
}

.delete-icon {
    margin-right: 10px;
    padding: 8px;
    cursor: pointer;
    background-size: cover;
}

.toast {
    position: fixed;
    bottom: 10px; /* Adjust the distance from the bottom as needed */
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 5px 5px;
    border-radius: 5px;
    z-index: 9999; /* Ensure it's above other content */
}

#footer {
    display: flex;
    height: 20px;
    justify-content: space-between;
    margin: 10px 10px 0px 0px;
}

.link {
    font-size: 14px;
    text-decoration: none;
    color: orangered;
    font-family:sans-serif
}

.link:hover {
    text-decoration: underline;
}


#container h1 {
    text-align: center;
    margin: 0px 0px 15px;
}



















